<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Invoice</title>
  </head>
  <body>

    <div style='margin: 0 auto; padding: 3rem;' id='invoice'>

      <div
        style='display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); align-items: center;'
      >
        <div>
          <!--  Company logo  -->
          <h1 style='font-size:xx-large; font-weight:800;'>ENCE</h1>
        </div>

        <div style='text-align: right;'>
          <p>
            Ence Inc.
          </p>
          <p style='color: #718096; font-size: 0.875rem;'>
            info@ence.com
          </p>
          <p style='color: #718096; font-size: 0.875rem; margin-top: 0.15rem;'>
            +91-6207337493
          </p>
        </div>
      </div>

      <!-- Client info -->
      <div
        style='display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); align-items: center; margin-top: 2rem;'
      >
        <div>
          <p style='font-weight: bold; color: #2d3748;'>
            Bill to :
          </p>
          <p style='color: #718096; font-size: 0.850rem; font-weight: 500; '>
            {{#if customerInfo.customerLegalName.value}}
              {{customerInfo.customerLegalName.value}}
            {{else}}
              -
            {{/if}}
            <br />
            {{#if customerInfo.city}}
              {{customerInfo.city}},
            {{else}}
              -
            {{/if}}
            {{#if customerInfo.state}}
              {{customerInfo.state}},
            {{else}}
              -
            {{/if}}
            {{#if customerInfo.country}}
              {{customerInfo.country}}
            {{else}}
              -
            {{/if}}
          </p>
          <p style='color: #718096; font-size: 0.850rem; font-weight: 500; '>
            {{#if customerInfo.email}}
              {{customerInfo.email}}
            {{else}}
              {{customerInfo.whatsappNumber}}
            {{/if}}
          </p>
        </div>

        <div style='text-align: right; font-weight: 400; font-size: 0.875rem;'>
          <p>
            Invoice number:
            <span
              style='color: #718096; font-size: 0.750rem; font-weight: 500; margin-left: 0.5rem;'
            >INV-{{invoiceNumber}}</span>
          </p>
          <p>
            Invoice date:
            <span
              style='color: #718096; font-size: 0.750rem; font-weight: 500; margin-left: 0.5rem;'
            >{{formatDate dateIssue}}</span>
            <br />
            Due date:<span
              style='color: #718096; font-size: 0.750rem; font-weight: 500; margin-left: 0.5rem;'
            >{{formatDate dueDate}}</span>
          </p>
        </div>
      </div>

      <!-- Invoice Items -->
      <div style='margin-left: 0rem; margin-right: 0; margin-top: 2rem;'>
        <table style='width: 100%;'>
          <colgroup>
            <col style='width: 50%;' />
            <col style='width: 16.6667%;' />
            <col style='width: 16.6667%;' />
            <col style='width: 16.6667%;' />
          </colgroup>
          <thead style='border-bottom: 1px solid #e2e8f0; color: #4a5568;'>
            <tr>
              <th
                scope='col'
                style='padding: 0.875rem; padding-left: 1rem; padding-right: 0.75rem; text-align: left; font-size: 0.875rem; font-weight: 600; color: #4a5568; padding-left: 0;'
              >
                Items
              </th>
              <th
                scope='col'
                style='padding: 0.875rem 0.75rem; text-align: right; font-size: 0.875rem; font-weight: 600; color: #4a5568;'
              >
                Quantity
              </th>
              <th
                scope='col'
                style='padding: 0.875rem 0.75rem; text-align: right; font-size: 0.875rem; font-weight: 600; color: #4a5568;'
              >
                Price
              </th>
              <th
                scope='col'
                style='padding: 0.875rem; padding-left: 0.75rem; padding-right: 1rem; text-align: right; font-size: 0.875rem; font-weight: 600; color: #4a5568; padding-right: 0;'
              >
                Amount
              </th>
            </tr>

          </thead>
          <tbody>
            {{#each items}}
              <tr style='border-bottom: 1px solid #e2e8f0;'>
                <td
                  style='max-width: 0; padding-top: 0.75rem; padding-bottom: 0.75rem; padding-left: 0; padding-right: 0.75rem; text-align: left; font-size: 0.875rem;'
                >
                  <div
                    style='font-weight: 200; color: black;'
                  >{{this.name}}</div>
                </td>
                <td
                  style='padding: 0.75rem; text-align: right; font-size: 0.875rem; color: #718096;'
                >{{this.quantity}}
                </td>
                <td
                  style='padding: 0.75rem; text-align: right; font-size: 0.875rem; color: #718096;'
                >
                  {{formatAmount this.price}}
                </td>
                <td
                  style='padding-top: 0.75rem; padding-bottom: 0.75rem; padding-left: 0.75rem; text-align: right; font-size: 0.875rem; color: #718096; padding-right: 0;'
                >
                  {{formatAmount this.total}}
                </td>
              </tr>
            {{/each}}
          </tbody>

          <tfoot>
            <tr>
              <th
                scope='row'
                colspan='3'
                style='padding-right: 0.75rem; padding-top: 1.5rem; text-align: right; font-size: 0.875rem; font-weight: normal; padding-left: 0;'
              >Subtotal</th>
              <td
                style='padding-left: 0.75rem; padding-top: 1.5rem; text-align: right; font-size: 0.875rem; color: #718096; padding-right: 0;'
              >{{formatAmount subTotal}}</td>
            </tr>

            <tr>
              <th
                scope='row'
                colspan='3'
                style='padding-right: 0.75rem; padding-top: 0.75rem; text-align: right; font-size: 0.875rem; font-weight: normal; padding-left: 0;'
              >Adjustment Fee</th>
              <td
                style='padding-left: 0.75rem; padding-top: 0.75rem; text-align: right; font-size: 0.875rem; color: #718096; padding-right: 0;'
              >{{formatAmount adjustmentFee}}</td>
            </tr>

            <tr>
              <th
                scope='row'
                colspan='3'
                style='padding-right: 0.75rem; padding-top: 0.5rem; text-align: right; font-size: 0.875rem; font-weight: normal; padding-left: 0;'
              >Packaging Charge</th>
              <td
                style='padding-left: 0.75rem; padding-top: 0.5rem; text-align: right; font-size: 0.875rem; color: #718096; padding-right: 0;'
              >{{formatAmount packagingCharge}}</td>
            </tr>

            <tr>
              <th
                scope='row'
                colspan='3'
                style='padding-right: 0.75rem; padding-top: 0.5rem; text-align: right; font-size: 0.875rem; font-weight: normal; padding-left: 0;'
              >Shipping Charge</th>
              <td
                style='padding-left: 0.75rem; padding-top: 0.5rem; text-align: right; font-size: 0.875rem; color: #718096; padding-right: 0;'
              >{{formatAmount shippingCharge}}</td>
            </tr>
            <tr>
              <th
                scope='row'
                colspan='3'
                style='padding-right: 0.75rem; padding-top: 1rem; text-align: right; font-size: 0.875rem; font-weight: semibold; padding-left: 0;'
              >Total</th>
              <td
                style='padding-left: 0.75rem; padding-top: 1rem; text-align: right; font-size: 0.875rem; font-weight: 900; padding-right: 0;'
              >{{formatAmount totalAmount}}</td>
            </tr>
          </tfoot>
        </table>
        <div>
          <p
            style='color: #718096; text-align: right; font-size: 0.5rem; font-weight: 500; margin-top: 1rem;'
          ><span style='color: black; font-weight-800'>Total Amount (in words) :
            </span>
            {{formatAmountInwords totalAmount}}</p>
        </div>
      </div>

      <!--  Footer  -->
      <div
        style='border-top: 2px solid #e2e8f0; padding-top: 1rem; font-size: 0.75rem; color: #718096; text-align: center; margin-top: 4rem;'
      >
        Please pay the invoice before the due date.
      </div>
    </div>

    <!-- <button type="button" id="btn" class="">Print</button> -->
  </body>
</html>